[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
tifffile = "*"
torchvision = "*"
tiffile = "*"

[dev-packages]

[requires]
python_version = "3.6"
